{% extends "base.html" %} {% block title %}
<div class="bg-green-800 p-2 shadow-2xl my-4 rounded-[10px]">
  <h2 class="text-4xl font-extrabold dark:text-white">Afdelingen</h2>
  <p class="my-4 text-lg text-gray-200">
    Hier kunt u afdelingen toevoegen, bekijken, wijzigen en
    verwijderen.
  </p>
</div>
{% endblock %} {% block main_content %}
<form class="my-[10px] form-control bg-gray-50 p-[10px] shadow-2xl" method="post" action="/create_afdeling">
  <p class="rounded-xl text-center font-extrabold bg-green-700 text-white shadow-2xl w-[250px] py-[10px] my-[10px]">
    Nieuwe Afdeling Maken
  </p>
  <div class="flex flex-col items-center justify-center gap-4">
    <div>
      <label>Afdeling Naam</label>
      <input required placeholder="Afdeling Naam" name="naam" autocomplete="off"
        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div>
      <label>Etage Nummer</label>
      <input required type="number" placeholder="Etage" name="etage"
        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
  </div>
  <div class="flex flex-row justify-center gap-4">
    <button
      class="flex flex-row justify-center gap-4 text-white my-[15px] text-center bg-green-700 px-[15px] py-2 rounded-[10px]"
      type="submit">
      <svg class="text-center w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m5 12 4.7 4.5 9.3-9" />
      </svg>
      <span>Afdeling toevoegen</span>
    </button>
  </div>
</form>

<form action="/afdelingen" class="flex items-center w-[50%] py-4" method="post">
  <label for="search" class="sr-only">Search</label>
  <div class="relative w-full">
    <input type="text" id="search"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-green-500 light:focus:border-green-500"
      placeholder="Zoeken..." name="search" />
  </div>
  <button type="submit"
    class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-green-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800">
    <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
    </svg>Zoeken
  </button>
  <a class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-red-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800"
    href="/afdelingen">
    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
      viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
  </a>
</form>

<div class="relative overflow-x-auto py-8">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 light:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 light:bg-gray-700 light:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">Afdeling</th>
        <th scope="col" class="px-6 py-3 text-center">etage</th>
        <th scope="col" class="px-6 py-3 text-center">Aantal bedden</th>

        <th scope="col" class="px-6 py-3">Acties</th>
      </tr>
    </thead>
    <tbody>
      {% for afdeling in aantalBedden%}
      <tr class="bg-white border-b light:bg-gray-800 light:border-gray-700">
        <td scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap light:text-black">
          {{afdeling['naam']}}
        </td>
        <td class="px-6 py-2 text-center">{{afdeling['etage']}}</td>
        <td class="px-6 py-2 text-center">{{afdeling['beschikbare_bedden']}}</td>

        </td>
        <td class="px-6 py-2">
          <a href="#edit-afdeling{{afdeling['id']}}"
            class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z" />
            </svg>
          </a>
          <a href="/delete_afdeling/{{afdeling['id']}}"
            onclick="return confirm('Bent u zeker dat u {{afdeling['naam']}} wilt verwijderen?')"
            class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
            </svg>
          </a>
        </td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
{% for afdeling in aantalBedden%}
<div id="edit-afdeling{{afdeling['id']}}" class="modal fixed">
  <form action="/edit_afdeling" method="post" class="p-8 bg-white rounded-xl min-w-[400px] h-[fit-content]">
    <div class="font-bold text-2xl py-2 text-center">
      Afdeling wijzigen - Afdeling {{afdeling['naam']}}
    </div>
    <div class="flex flex-col gap-2 p-2">

      <div>
        <label for="afdeling_naam">
          <p>Afdeling Naam</p>
        </label>
        <input value="{{afdeling['naam']}}" type="text" name="afdeling_naam" required
          class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />

      </div>

      <div>

        <label for="etage">
          <p>Etage</p>
        </label>
        <input value="{{afdeling['etage']}}" type="text" name="etage" required
          class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
    </div>

    <input value="{{afdeling['id']}}" type="number" name="id" hidden>

    <div class="flex flex-row justify-evenly py-2">


      <a href=""
        class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-white bg-red-600 rounded-lg border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 light:bg-red-600 light:hover:bg-red-700 light:focus:ring-red-800">
        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M6 18 18 6m0 12L6 6" />
        </svg>
      </a>

      <button type="submit"
        class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-white bg-green-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
      </button>
    </div>
  </form>
</div>
{%endfor%} {% endblock %}