{% extends "base.html" %}
{% block title %}
<div class="bg-green-800 p-2 shadow-2xl my-4 rounded-[10px]">

    <h2 class="text-4xl font-extrabold dark:text-white">Patienten</h2>
    <p class="my-4 text-lg text-gray-200">Hier kunt u patiënten toevoegen, bekijken, wijzigen en verwijderen.</p>
</div>
{% endblock %}
{% block main_content %}
<form class="my-[10px] form-control bg-gray-50 p-[10px] shadow-2xl" method="post" action="/create_patient">
    <p class="rounded-lg text-center font-extrabold bg-green-700 text-white shadow-2xl w-[250px] py-[10px] my-[10px]">
        Nieuwe Patient Toevoegen</p>
    <div class="flex flex-row justify-evenly py-4">

        <div class="flex flex-col gap-2">
            <div>
                <label for="voornaam">Voornaam</label>
                <input required placeholder="Voornaam..." name="voornaam"
                    class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div>
                <label for="achternaam">Achternaam</label>
                <input required placeholder="Achternaam..." name="achternaam"
                    class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div>
                <label for="telefoon_nummer">Telefoon Nummer</label>
                <input required type="tel" pattern="\+[0-9]{3}[0-9]{7}" placeholder="+597XXXXXXX" name="telefoon_nr"
                    class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-white-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
        </div>
        <div class="flex flex-col gap-2">

            <div>
                <label for="id_nr">ID Nummer</label>
                <input required placeholder="ID Nummer..." name="id_nr"
                    class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div>
                <label for="geboorte_datum">Geboorte Datum</label>
                <input required type="date" placeholder="Geboorte Datum..." name="geboorte_datum"
                    class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-white-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
            </div>
            <div>
                <label for="geslacht">Geslacht</label>
                <select required name="geslacht"
                    class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-white-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <option value="" disabled selected>Kies Een Geslacht</option>
                    <option value="man">Man</option>
                    <option value="vrouw">Vrouw</option>
                </select>
            </div>
        </div>
    </div>
    <div class="flex flex-row justify-center items-center p-4">
        <button class="flex flex-row gap-4 text-white text-center bg-green-700 px-[15px] py-2 rounded-[10px]"
            type="submit">
            <svg class="text-center w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m5 12 4.7 4.5 9.3-9" />
            </svg>
            <span>Patient Toevoegen</span>
        </button>
    </div>

</form>

<form class="flex items-center w-[50%] py-4" method="post" action="/patienten">
    <label for="search" class="sr-only">Zoeken
    </label>
    <div class="relative w-full">

        <input type="text" id="search" name="search"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full  p-2.5  light:bg-gray-700 light:border-gray-600 light:placeholder-gray-400 light:text-white light:focus:ring-green-500 light:focus:border-green-500"
            placeholder="Zoeken...">

    </div>
    <button type="submit"
        class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-green-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800">
        <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
        </svg>Zoeken
    </button>

    <a class="inline-flex items-center py-2.5 px-3 ms-2 text-sm font-medium text-white bg-red-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800"
        href="/patienten">
        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </svg>
    </a>

</form>

<div class="relative overflow-x-auto py-8">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 light:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 light:bg-gray-700 light:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Voornaam
                </th>
                <th scope="col" class="px-6 py-3">
                    Achternaam
                </th>
                <th scope="col" class="px-6 py-3">
                    Telefoon nr
                </th>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Geboorte Datum
                </th>
                <th scope="col" class="px-6 py-3">
                    Geslacht
                </th>
                <th scope="col" class="px-6 py-3">
                    Acties
                </th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patienten%}
            <tr class="bg-white border-b light:bg-gray-800 light:border-gray-700">
                <td scope="row" class="px-6 py-2 font-medium text-gray-900 whitespace-nowrap light:text-white">
                    {{patient['voornaam']}}
                </td>
                <td class="px-6 py-2">
                    {{patient['achternaam']}}
                </td>
                <td class="px-6 py-2">
                    {{patient['telefoon_nr']}}
                </td>
                <td class="px-6 py-2">
                    {{patient['id_nr']}}
                </td>
                <td class="px-6 py-2">
                    {{patient['geboorte_datum']}}
                </td>
                <td class="px-6 py-2">
                    {{patient['geslacht'].capitalize()}}
                </td>
                <td class="px-6 py-2">
                    <a href="#edit-patient{{patient['id']}}"
                        class="text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-yellow-600 dark:hover:bg-yellow-700 dark:focus:ring-yellow-800">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m14.3 4.8 2.9 2.9M7 7H4a1 1 0 0 0-1 1v10c0 .6.4 1 1 1h11c.6 0 1-.4 1-1v-4.5m2.4-10a2 2 0 0 1 0 3l-6.8 6.8L8 14l.7-3.6 6.9-6.8a2 2 0 0 1 2.8 0Z" />
                        </svg>
                    </a>
                    <a href="/delete_patient/{{patient['id']}}"
                        onclick="return confirm('Bent u zeker dat u {{patient['voornaam']}} {{patient['achternaam']}} wilt verwijderen?')"
                        class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z" />
                        </svg>
                    </a>

                </td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
</div>
{% for patient in patienten%}
<div id="edit-patient{{patient['id']}}" class="modal fixed">
    <form action="/edit_patient" method="post" class="p-8 bg-white rounded-xl min-w-[400px] h-[fit-content]">
        <div class="font-bold text-2xl py-2 text-center">
            Patient wijzigen - Patient {{patient['voornaam']}} {{patient['achternaam']}}
        </div>
        <div class="flex flex-row gap-4">
            <div class="p-2 flex flex-col gap-2">


                <div>
                    <label for="naam">
                        <p>Voornaam</p>
                    </label>
                    <input value={{patient['voornaam']}} type="text" name="voornaam"
                        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        required>
                </div>
                <div>

                    <label for="Fnaam">
                        <p>Achternaam</p>
                    </label>
                    <input value={{patient['achternaam']}} type="text" name="achternaam" required
                        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

                </div>

                <div>


                    <label for="tel">
                        <p>Telefoon Nummer</p>
                    </label>
                    <input value={{patient['telefoon_nr']}} type="tel" name="telefoon_nr" required
                        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
            </div>

            <div class="p-2 flex flex-col gap-2">


                <div>
                    <label for="id_nr">
                        <p>ID Nummer</p>
                    </label>
                    <input value={{patient['id_nr']}} type="text" name="id_nr" required
                        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

                </div>


                <div>

                    <label for="GD">
                        <p>Geboorte Datum</p>
                    </label>
                    <input value={{patient['geboorte_datum']}} type="date" name="geboorte_datum" required
                        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-[#6b7280] text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">

                </div>

                <div>

                    <label for="geslacht">
                        <p>Geslacht</p>
                    </label>
                    <select name="geslacht" required
                        class="mx-[2px] my-[5px] w-[250px] bg-white-50 border border-white-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-white-700 dark:border-white-600 dark:placeholder-white-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="man" {{"selected" if patient['geslacht']=="man" }}>Man
                        </option>
                        <option value="vrouw" {{"selected" if patient['geslacht']=="vrouw" }}>Vrouw</option>
                    </select>

                </div>
            </div>
        </div>

        <input value={{patient['id']}} type="text" name="id" hidden>

        <div class="flex flex-row justify-evenly py-2">


            <a href="#"
                class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-white bg-red-600 rounded-lg border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 light:bg-red-600 light:hover:bg-red-700 light:focus:ring-red-800">
                <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M6 18 18 6m0 12L6 6" />
                </svg>
            </a>

            <button type="submit"
                class="inline-flex items-center py-2.5 px-3 text-sm font-medium text-white bg-green-600 rounded-lg border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 light:bg-green-600 light:hover:bg-green-700 light:focus:ring-green-800">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </button>
        </div>
    </form>
</div>
{%endfor%}
{% endblock %}